<div
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <img
    width="804"
    height="552"
    src="/about-me.webp"
    alt="about-me image"
    loading="lazy"
  />
</div>